.hero{
    background-image: linear-gradient( rgba(87, 86, 86, 0.3), rgba(110, 110, 110, 0.3)) , url('hero1.jpg');
    background-size: cover;
    background-position: center;
}

.title-container{
    height: calc(100vh - 250px);
}

.title{
    font-size: 45px;
}

.nav-options{
    display: flex ;
    font-size: 20px;
    p:hover{
        color: red !important;
    }
}

.service-icon2{
    width: 100px;
    height: 100px;
}

.service-icon1{
    width: 180px;
    height: 180px;
}

.service-section-container{
    top: -50px;
    background-color: #F8F8F7;
    width: 95%;
    border-radius: 15px;
    padding: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.logo{
   max-width: 250px;
   max-height: 200px;
}

nav{
    padding: 0 250px;
}

.services{
    background-color: #F8F8F7;
    height: 70vh;
}

.service{
    flex-basis: 20%;
    margin-bottom: 30px;
   
}

.about-us{
    min-height: 60vh;
}

.about-us-image{
   min-width: 50%;
   min-height: 100%;
   background: url('image1.jpg') no-repeat top;
   background-size: cover;
}

.prp-image{
   min-width: 50%;
   min-height: 100%;
   background: url('PRP-image.jpg') no-repeat top;
   background-size: cover;
}

.map {
    width: 100%;
    height: 250px;
}

.hamburger-menu{
    display: none;
    cursor: pointer;
}

.contact-us li{
    text-align: left;
}

.get-directions-btn{
    background-color: #454e5f   ;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin-top: 15px;
    display: inline-block;
}

@media (max-width: 768px) {
    .hamburger-menu{
        display: block;
    }

    .nav-options.hidden{
        display: none !important;
    }

    .nav-options {
        position: absolute;
        flex-direction: column;
        text-align: left;
        align-items: flex-start !important;
        padding: 20px;
        top: 0;
        background-color: gray;
        z-index: 100;
        width: 100%;
        height: 100vh;
        left: 0;
    }
    .about-us{
        display: block !important;
        div{
            width: 100% !important;
            height: 100% !important;
        }
        p{
            font-size: 10px;
        }
    }
}

@media (max-width: 600px) {
    .working-hours-inner{
        width: 300px;
    }
}

@media (max-width: 400px) {
    .working-hours{
        padding: 20px !important;
    }
    .working-hours p{
        font-size: 13px;
    }
}